---
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: Always
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BasedOnStyle: Chromium
IndentAccessModifiers: false
IndentExternBlock: Indent
Language: Cpp
NamespaceIndentation: All
SpaceBeforeCpp11BracedList: true
SpacesBeforeTrailingComments: 1

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '".*"'
    Priority: 1
  - Regex:    '<.*>'
    Priority: -1
